</h1> entries - weekly view </h1>

<br>
<br>


<div class='flex-container'>


    <div class='left_panel'>

        <div class='month_panel'>
            <% @date = Date.today  %>  
            <%= @date.strftime("%B")%>
        </div>

        <div class='goals_panel'>
            <h1> goals </h1>
        </div>

        <div class='priorities_panel'>
            <h1> Priorities </h1>
        </div>


    </div>

    <div class='right_panel'>

        <div class='right_panel-top'>
        <a class='button' href='/entries/new'> Add Entry </a>

        </div>

        <div class='right_panel-middle'>

            <div class='sunday_panel'>
            <h1>Sunday</h1>
            </div>

            <div class='monday_panel'>
            <h1>Monday</h1>
            </div>

            <div class='tuesday_panel'>
            <h1>Tuesday</h1>
            </div>

            <div class='wednesday_panel'>
            <h1>Wednesday</h1>
            </div>

            <div class='thursday_panel'>
            <h1>Thursday</h1>
            </div>

            <div class='friday_panel'>
            <h1>Friday</h1>
            </div>

            <div class='saturday_panel'>
            <h1>Saturday</h1>
            </div>


        </div>

        <div class='right_panel-bottom'>


            <div class='work-to-do_panel'>
                <h1> Work-to-do </h1>


            </div>

            <div class='personal-to-do_panel'>
                <h1> Personal-to-do </h1>
            </div>

            <div class='ideas_panel'>
                <h1> Ideas </h1>

            </div>

            <div class='notes_panel'>
                <h1> Notes </h1>
            </div>

        </div>


    </div>



</div>