.landing-title-text {
    font-size: 180px;
    font-family: 'Merienda', cursive;
    margin-left: 390px;
    color: white;
    text-align: left;
}

.field {
    display: inline-block;
}

.actions {
    display: inline-block; 
}

h3 {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    margin-left: 430px;
    margin-top: -140px; 
    color: rgba(0, 0, 0, .8);
    text-align: left;

}
