.flex-container {
    display: flex;
    flex-direction: row;
    height: 840px;

}

.left_panel, .right_panel {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 840px;
    margin-top: 30px;
}


.middle_panel {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 840px;
}

.middle_top_panel {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.middle_middle_panel {
    display: flex;
    flex-direction: row;
}

.middle_bottom_panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.goals_achieved_panel, .rewards_achieved_panel {
    background-color: rgba(24, 24, 24, .1);
    height: 200px;
    width: 350px;
    text-align: center;
}

.goals_achieved_panel {
    border-right: 2px dashed gray;
}
.self_care_panel, .giving_back_panel, .entertainment_panel {
    background-color: rgba(24, 24, 24, .1);
    margin: 15px;
    height: 220px;
    width: 300px;
    text-align: center;
}

.check_box_panel {
    display: flex;
    flex-direction: column;
    height: 220px;
    background-color: rgba(24, 24, 24, .1);
    margin-left: -15px;
    margin-top: 15px;
    width: 25px;
}

h1 {
    font-size: 10px;
}

.month_text {
    font-size: 120px;
    font-family: 'Libre Baskerville', serif;
    margin-left: 150px;
}

.category_panel {
    height: 40px;
    margin: 10px;
    margin-left: 30px;
    width: 300px;
    background-color: rgba(24, 24, 24, .1);
}

.checklist_text_panel {
    text-align: center;
}

.reflections_cat-text {
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
}

.reflection_text-panel {
    margin-top: 20px;
}

.reflections_text {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin-left: 10px;
}

.reflection-input {
    height: 120px;
    border: 2px;
    margin-top: -9px;
    margin-bottom: 10px;
    margin-left: 25px;
    background-color: rgba(24, 24, 24, .1);
    width: 300px;
}

.save_button_panel {
    margin-top: 15px;
    text-align: center;
}

.save_reflection-button {
    background-color: #6790A4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.arrow_panel {
}
