
.flex-container {
    display: flex;
    flex-direction: row;
    height: 750px;
    width: 1550px;
    margin-left: 40px;
    margin-top: 40px;
    background-color: rgba(24, 24, 24, .1);
}

p {
    font-size: 15px;
    font-family: 'Gochi Hand', cursive;
}


.left_panel {
    width: 300px;;
    height: 800px;
    margin-top: 10px;
}

.right_panel {
    display: flex;
    flex-direction: column;
    width: 1550px;
    height: 800px;
    margin-left: 20px;
    
}

.right_panel-top {
    height: 130px;
    display: flex;
    flex-direction: row;
}

.top_right_panel-one {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: -20px;
    justify-content: right;
}


.date_panel {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.week_of_panel {
    text-align: center;
    height: 60px;
}

.current_week_panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left_arrow_panel, .right_arrow_panel {
    margin: 0 50px;
    height: 60px;
}

.right_panel-top {
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.right_panel-middle {
    height: 430px;
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 10px;
}

.sunday_panel, .monday_panel, .tuesday_panel, .wednesday_panel, .thursday_panel, .friday_panel, .saturday_panel {
    width: 160px;
    height: 290px;
    text-align: center;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}    

.goals_panel, .priorities_panel {
    /* background-color: rgba(24, 24, 24, .2); */
    margin-left: 10px;
    margin-right: -10px;
    margin-top: 20px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 300px;
}


.work-to-do_panel, .personal-to-do_panel, .ideas_panel, .notes_panel {
    width: 260px;
    height: 200px;
    ;
    margin: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   

.entries_panel-goals, .entries_panel-priorities {
    height: 250px;
    width: 260px;
}


.entries_panel-categories {
    height: 180px;
    background-color: rgba(24, 24, 24, .1) 
}

.entries_panel-days {
    height: 200px;
    margin-top: -10px;
    background-color: rgba(24, 24, 24, .1)
}

.form_panel {
    margin-bottom: 5px;
}

.right_panel-bottom {
    justify-content: center;
    height: 230px;
    display: flex;
    flex-direction: row;
    margin-top: -100px;
}    

h1 {
    font-family: 'Sigmar One', cursive;
}    

h2 {
    font-family: 'Cutive', serif;
}   

.week_of-text {
    font-size: 30px;
    font-family: 'Nixie One', cursive;
    color: #F9F9F9;
    margin-bottom: 3px;
}




.date_text {
    font-size: 20px;
    margin: 0 2px;
}

.current_date {
    font-size: 50px;
    color: white;
}

.to {
    font-size: 45px;
    color: white;
}
  

.month_text {
    font-family: 'Merienda', cursive;
    font-size: 70px;
    letter-spacing: 5px;
    margin-top: 2px;
    margin-left: 50px;
    margin-bottom: -10px;

}    

.month_panel {
    height: 100px; 
    
}    


.day_word_panel {
    border-bottom: 3px dashed gray;
    display: flex;
    flex-direction: row;

}

.category_word_panel {
    text-align: center;
    border-bottom: 1px dashed gray;
    background-color: rgba(252, 252, 252, .4);
    padding-top: 5px;
}

.reflection_link {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    border: 1px solid white;
    padding: 15px;
    background-color: rgba(24, 24, 24, .4);
}

.reflection_link:hover {
    background-color: rgba(24, 24, 24, .8);
}

.reflection_link a {
    text-decoration: none !important;
    color: white;
}


.days {
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;
    color: white;
}

.category_text {
    margin: 2px;
    font-size: 25px;
}

.category_text-personal {
    margin: 2px;
    font-size: 20px;
}

.date_container {
    margin: 0;    
}

.day_container {
    margin-left: 2px;
    width: 130px;
    text-align: center;  
}


#category_entries {
    font-size: 15px;
}

.arrows a{
    text-decoration: none !important;
    font-size: 30px; 
    color: #7C7C7C;
}


.submit_entry-button {
    height: 30px;
    width: 60px;
    font-size: 10px;
}

.add-entry-btn {
    background-color: rgba(80, 80, 80, .2);
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.add-entry-btn:hover {
    background-color: rgb(130, 164, 119);
}

#link_tos  {
    text-decoration: none !important;
    color: rgba(122, 124, 121, .4);
    font-size: 10px;
}

#link_tos:hover {
    color: #424242;
}

.goals-entry-text {
    font-size: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #A75F4A;
    background-color: rgba(228, 227, 134, .9);
}

.days-content {
    font-family: 'Arima Madurai', cursive;
    background-color: rgba(55, 89, 181, .4);
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
}

.to-do-content {
    background-color: rgba(216, 167, 71, .9);
    font-size: 26px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Seaweed Script', cursive;

}